@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/*font-family: myriad-pro, sans-serif; font-style: normal; font-weight: 300; */
/*nulls*/
* {padding: 0px;margin: 0px;border: 0px;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing:border-box;}
:focus,:active {outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section {display: block;}
html,body {height: 100%;min-width:320px;}
body {line-height:1;font-family: "Lato";font-size: 14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea {font-family: "Lato"}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-fokus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
/*real code*/
body {

}

.wrap {
  overflow: hidden;
  min-height: 100%;
}

.header {

}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size: 0px;
  flex-direction: column;
}

.content {
  max-width: 1131px;
  padding: 0px 15px
}
