@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/16063.eot');
  src: local('☺'), url('../fonts/16063.woff') format('woff'), url('../fonts/16063.ttf') format('truetype'), url('../fonts/16063.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Socialico';
  src: url('../fonts/Socialico.eot');
  src: local('☺'), url('../fonts/Socialico.woff') format('woff'), url('../fonts/Socialico.ttf') format('truetype'), url('../fonts/Socialico.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  padding: 50px;
  z-index: 5;
  display: flex;
  position: relative;
  min-height: max-content;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ArialMT";
  color: #fff;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "ArialMT"
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-fokus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  object-fit: cover;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrap {
  overflow: hidden;
  min-height: 100%;
}

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #445162;
  padding: 50px;
  display: flex;
  position: relative;
}

h1 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 400;
}

header .t_block {
  width: 50%;
}

header .t_block li {
  margin-left: 40px;
}

header .t_block .list {
  list-style-image: url('../img/Logos/check.webp');
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 36px;
}

header .i_block {
  margin-left: 10%;
}

.About .t_block {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
}

h2 {
  display: block;
  text-align: center;
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 30px;
}

.About h2 {
  text-align: left;
}

.contacts h2 {
  color: #fff;
}

.v_block {
  margin-left: 5%;
  min-width: 430px;
  min-height: 245px;
}

.Pluses {
  background-color: #f5f5f5;
  flex-direction: column;
}

.Pluses .g_list {
  width: 100%;
  list-style-type: none;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.g_list li::before {
  content: '';
  background-image: url('../img/Logos/plus.webp');
  position: relative;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  left: 0%;
  display: block;
  position: absolute;
}

.Pluses .g_list li {
  margin-bottom: 35px;
  padding: 0 0 0 41px;
  position: relative;
}

.Scrinshots .i_grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, minmax(200px, auto));
  grid-gap: 8% 0;
}

h3 {
  color: #445161;
  font-size: 24px;
  line-height: 30px;
}

.Scrinshots {
  flex-direction: column;
  min-height: 155vh;
}

.Scrinshots .g_block {
  display: grid;
  grid-template: "i h"32px "i p"101px;
  gap: 15px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.i {
  grid-area: i;
  min-width: 200px;
  min-height: 200px;
  background-color: #445161;
}

.h {
  grid-area: h;
}

.p {
  grid-area: p;
}

.Reviews {
  background-color: #f5f5f5;
  flex-direction: column;
  min-height: 47vh;
}

.Reviews .r_grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2% 1%;
}

.Reviews .g_block {
  display: grid;
  grid-template: "i p"32px "i p"101px;
  gap: 0 2%;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.Reviews .i {
  max-width: 75px;
  max-height: 75px;
  min-width: 75px;
  min-height: 0px;
  background-color: #445161;
  border-radius: 50%;
}

.Reviews .p {
  background-color: rgb(235, 235, 235);
  padding: 15px 5px 15px 10px;
  border-radius: 5px;
}

.user {
  margin-top: 10px;
  display: inline-block;
}

.Reviews .p::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(235, 235, 235);
  height: 16px;
  width: 16px;
  margin-top: 1.3vh;
  transform: rotate(45deg);
  margin-left: -1%;
}

.Buy {
  flex-direction: column;
}

.Buy .block {
  display: flex;
  flex-direction: row;
}

.Buy .s_block {
  flex: 1 0 26.33%;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin: 3%;
  background-color: #445162;
  text-align: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 10px;
  padding: 20px 0 20px 0;
}

.s_block h3 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  padding: 18px;
}

.s_block p {
  width: 99%;
  padding: 18px 0 18px 0;
  background-color: #fff;
  color: #445162;
  font-size: 40px;
  line-height: 30px;
  margin: 0 2px 0 2px;
}

.s_list {
  padding: 19px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  text-align: left;
  list-style-position: inside;
}

.s_block button {
  width: 80%;
  border-radius: 5px;
  padding: 13.5px 111.5px 13.5px 111.5px;
  background-color: #fff;
  color: #445161;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 18px;
}

#contacts {
  flex-direction: column;
  width: 100%;
  background-color: #445162;
}

#contacts h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 31px;
}

.contacts {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5% 0%;
  margin: 0 0% 0 5%;
  justify-items: end;
}

.contacts input {
  border-radius: 5px;
  min-height: 40px;
  width: 60%;
}

textarea {
  min-height: 170px;
}

::placeholder {
  vertical-align: text-top;
}

.contacts textarea {
  color: #445162;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 0 14px 10px;
}

form button {
  background-color: #fff;
  color: #445162;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  padding: 14px 48px;
  width: 15%;
  border-radius: 4px;
}

.contacts .send {
  padding: 14px 0 14px 0;
  margin: 0 auto 0 60%;
  width: 20%;
}

.cl_1 {
  flex: 0 1 40%;
  display: grid;
  grid-template-rows: repeat(4, 30px);
  grid-gap: 5% 0%;
  margin: 0 5% 0 5%;
  align-content: baseline;
  justify-content: left;
  justify-items: baseline;
}

.s_text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.s_icons p {
  color: #fff;
  font-family: Socialico;
  font-size: 60px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.cn_r {
  display: flex;
  flex-direction: row;
}

.s_text img {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  display: inline-block;
  position: relative;
}

footer {
  padding: 0;
  background-color: #f5f5f5;
  color: #445162;
  font-size: 12px;
  line-height: 24px;
  justify-content: center;
  letter-spacing: 0.3px;
}

.dot {
  width: 1px;
  height: 1px;
  border: 1.1px solid #445162;
  background-color: #445162;
  display: inline-block;
  border-radius: 50%;
  margin-top: 10.5px;
  margin-right: -88px;
  position: absolute;
}
